<style>
    .footer {
        background-color: #262626; 
        color: #ffffff; 
        padding: 20px 0;
        text-align: center;
    }
    .footer-list li {
        list-style: none;
        margin-left: 0;
        padding-left: 2em;
    }

    .footer-list li span {
        text-indent: -2em;
    }

    .fa-brands {
        display: inline-block;
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }

    .fa-brands:hover {
        opacity: 0.7;
    }

    .fa-facebook-f {
        background: #3B5998;
        color: white;
    }

    .fa-linkedin-in {
        background: #007bb5;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-youtube {
        background: #bb0000;
        color: white;
    }
</style>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-md-start order-md-2">
                <ul class="list-unstyled footer-list">
                    <li>
                        <span><i class="bi bi-geo-alt"></i>Life Science Plaza LSP9.3009<br>2130 W Holcombe Blvd<br>Houston, TX 77030</span>
                    </li>
                    <li>
                        <span><i class="bi bi-envelope"></i><a href="mailto:harry.liu@alumni.rice.edu">harry.liu@alumni.rice.edu</a></span>
                    </li>
                    <li>
                        <span><i class="bi bi-telephone"></i>(⑧③②)-⑥④⑥-②⑥⑥②</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-md-end order-md-1">
                <p><a data-i18n="basic/copyright"></a><br>
                Powered by <a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">Bootstrap</a></p>
                <p><span data-i18n="basic/follow"></span><br>
                    <a href="https://www.facebook.com/zhuohe.liu" class="fa-brands fa-facebook-f" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://www.linkedin.com/in/zhuoheliu" class="fa-brands fa-linkedin-in" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://www.youtube.com/channel/UCvLJWtGPoqAWajyLrCfm2iw" class="fa-brands fa-youtube" title="Subscribe to my YouTube channel" target="_blank" rel="noopener noreferrer"></a>
                </p>
            </div>
        </div>
    </div>
</footer>

