<nav class="navbar navbar-expand-sm site-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" data-i18n="basic/brand" href="index.html"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="bio.html" data-i18n="bio/title"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="endeavor.html" data-i18n="endeavor/title"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="passion.html" data-i18n="passion/title"></a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item theme-toggle-item">
                    <button class="btn btn-link nav-link theme-toggle-btn" id="themeToggle" type="button" aria-label="Switch theme" title="Switch theme">
                        <i class="bi bi-moon-stars-fill" aria-hidden="true"></i>
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="localeSelector"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

