<style>
    nav {
        background-color: #262626;
        text-align: center;
        padding: 10px;
    }

    .navbar-dark .navbar-brand {
        font-size: 18px;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #ffffff; 
        font-size: 16px;
    }

    .navbar-dark .navbar-toggler-icon {
        background-color: #262626; 
    }
</style>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" data-i18n="basic/brand" href="index.html"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="bio.html" data-i18n="bio/title"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="endeavor.html" data-i18n="publication/title"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="passion.html" data-i18n="passion/title"></a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" id="lanSelector" onclick="toggleLanguage()"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

